<script lang="ts">
import Vue from 'vue';
import DataCard from './data-card.vue';
import CopyMediaCard from './copy-media-card.vue';

export default Vue.extend({
  name: 'CompanyCards',
  components: {
    CopyMediaCard,
    DataCard,
  },
  props: {
    data: {
      type: Object,
      default: null,
      required: false,
    },
  },
});
</script>

<template>
  <div>
    <div class="row video">
      <iframe
        width="100%"
        height="585"
        :src="data.video_url"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <SlpTypography tag="h3" variant="heading3" class="header"
      >The open source project</SlpTypography
    >
    <div class="row">
      <DataCard
        v-for="card in data.open_source_project.data_cards_box"
        :key="card.copy"
        :data="card"
      />
    </div>
    <div class="row">
      <CopyMediaCard
        v-for="card in data.open_source_project.copy_media_large"
        :key="card.copy"
        :data="card"
      />
    </div>
    <SlpTypography tag="h3" variant="heading3" class="header"
      >The company</SlpTypography
    >
    <div
      v-for="card in data.company_section.copy_media_large_one"
      :key="card.copy"
      class="row"
    >
      <CopyMediaCard :data="card" />
    </div>
    <div class="row">
      <DataCard
        v-for="card in data.company_section.data_cards_box_one"
        :key="card.copy"
        :data="card"
      />
    </div>
    <div
      v-for="card in data.company_section.copy_media_large_two"
      :key="card.copy"
      class="row"
    >
      <CopyMediaCard :data="card" />
    </div>
    <div class="row">
      <DataCard
        v-for="card in data.company_section.data_cards_box_two"
        :key="card.copy"
        :data="card"
      />
    </div>

    <div
      v-for="block in data.company_section.copy_media_cards_box"
      :key="block.name"
      class="row"
    >
      <CopyMediaCard v-for="card in block.data" :key="card.copy" :data="card" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.container__company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }
}
.header {
  text-align: center;
  margin: $spacing-96 0px $spacing-48 0px;
}
.video {
  margin: $spacing-32 0px;
  iframe {
    border: none;
  }
}
</style>
