<script lang="ts">
import Vue from 'vue';
import { init } from 'aos';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import { CEOrEE as CeOrEe, Header } from '~/components/ce-or-ee/index';

export default Vue.extend({
  components: {
    CeOrEe,
    Header,
    NextStep,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('install/ce-or-ee', params.slug).fetch();
    return { doc };
  },
  head() {
    return getPageMetadata(this.doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <Header :data="doc.header" />
    </SlpContainer>
    <section>
      <CeOrEe :data="doc.editions" />
    </section>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
