<script>
export default {
  props: ['title', 'content'], // eslint-disable-line vue/require-prop-types
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    toggleAccordion() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<template>
  <details class="accordion" @click="toggleAccordion">
    <summary>
      <slot name="title"></slot>
      <SlpIcon v-if="isOpen" name="dash" variant="product" alt="Dash Icon" />
      <SlpIcon v-else name="plus" variant="product" alt="Plus Icon" />
    </summary>
    <div class="content-container">
      <slot name="content"></slot>
    </div>
  </details>
</template>

<style lang="scss" scoped>
details.accordion {
  background: $color-surface-50;
  border: 1px solid #828282;
  border-top: 0 solid #828282;
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:first-of-type {
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
  }

  summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16;
    font-size: 23px;
  }

  span {
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: $spacing-8;
  }

  .content-container {
    background: $color-surface-200;
    text-align: left;
    padding: $spacing-32 $spacing-32 $spacing-32 $spacing-16;
    font-size: 16px;
  }
}
</style>
