<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { TopicsCopyBlock } from '~/components/topics/index';
import { QuotesCarousel } from '~/components/home/index';
import { GetStartedResources } from '~/components/get-started/index';
import { ByIndustryIntro } from '~/components/solutions/by-industry/index';
import { SolutionsHero } from '~/components/solutions/index';
import {
  CTA as CallToAction,
  Benefits,
  FreeTrialCTA,
  NextStep,
} from '~/components/common/index';
import {
  FeaturedPartners,
  PartnersShowcase,
} from '~/components/partners/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    FeaturedPartners,
    Benefits,
    FreeTrialCTA,
    ByIndustryIntro,
    SolutionsHero,
    QuotesCarousel,
    TopicsCopyBlock,
    GetStartedResources,
    NextStep,
    PartnersShowcase,
  },
  // eslint-disable-next-line
  async asyncData({ $content, params, error }: any) {
    try {
      const partner = await $content(`partners/new`).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div class="partners-container">
    <SlpContainer>
      <component
        :is="component.name"
        v-for="component in partner.components"
        :key="component.name"
        :data="component.data"
      />
      <SlpContainer>
        <NextStep :variant="3" />
      </SlpContainer>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.partners-container {
  overflow: hidden;
}
</style>
